@{
    ViewBag.Title = "About";
}


<div class="content-text">
    <h2 style="margin-top:15px;">Bize Dair</h2>
    <div class="img-left-box">



        <img src="~/Content/img/hakkimizda/hakkımızda1 (704 x 443).png"    alt="sunucu odası alt" class="img-left-bottom" />

        <img src="~/Content/img/hakkimizda/hakkımızd2.png" alt="sunucu odası" class="img-left-top" />
    </div>
    <p>
        To recap, what we do here at Mack Web is help our clients improve their businesses and their brands through a little thing we call community building.

        We’re strategic and, somehow, simultaneously holistic and down-to-earth. We take the eagle-eye view, but we ground everything in measured and measurable results. (And we think we’ve tortured that metaphor enough for one day).

        Put simply, we bring the right people together — both on and offline — to help you grow your business.
    </p>
    <p>
        Not to be falsely modest (believe us, we struggle too much with real modesty to bother with the fake stuff), but we’re kinda leading the pack on this community building thing. We kind of wrote the book (no really, we did). Turns out what started as an in-house passion for building online community has turned into a whole big deal. Mack’s been all over the country talking about this stuff (she’s become kind of a big deal, too).

        But here’s where the real modesty comes in: Sought-after expertise or not, we’re pretty much just excited that people like to talk to us on Twitter
    </p>


    <p>
        To recap, what we do here at Mack Web is help our clients improve their businesses and their brands through a little thing we call community building.

        We’re strategic and, somehow, simultaneously holistic and down-to-earth. We take the eagle-eye view, but we ground everything in measured and measurable results. (And we think we’ve tortured that metaphor enough for one day).

        Put simply, we bring the right people together — both on and offline — to help you grow your business.
    </p>
    <p>
        To recap, what we do here at Mack Web is help our clients improve their businesses and their brands through a little thing we call community building.

        We’re strategic and, somehow, simultaneously holistic and down-to-earth. We take the eagle-eye view, but we ground everything in measured and measurable results. (And we think we’ve tortured that metaphor enough for one day).

        Put simply, we bring the right people together — both on and offline — to help you grow your business.
    </p>
</div>

