<!-- Referanslar sayfa içeriği için -->
@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Sakarya Bilisim | Referanslar";
    ViewBag.Description = "Sakarya Bilisim sayfası";
    ViewBag.Keywords = "Sakarya , bilisim,referanslar, sayfası";
} 

<div class="content-text">
    <h2>Referanslarımız</h2>
   
    <div class="references">
        <div class="tile">
            <img src="~/Content/img/referanslar/samsunglogo.jpg" samsung" class="tile-img" />
          
            <h3>Samsung<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.samsung.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/acer.jpg"  alt="acer referans" class="tile-img" />
            <h3>Acer<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.acer.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/APLLE.png" alt="online ehliyet sınavları referans" class="tile-img" />
            <h3>Apple<br />Sakarya Bilişim Mağazaları</h3>
            <a href="https://www.apple.com/tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/asuslogo.png"   alt="şikayet var referans" class="tile-img" />
            <h3>Asus<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.asus.com/tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/benq.jpg" alt="n11.com referans" class="tile-img" />
            <h3>Benq<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.benq.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/casper.png"   alt="sayyaç referans" class="tile-img" />
            <h3>Sayyaç<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.casper.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/dell.png" alt="roketsan referans" class="tile-img" />
            <h3>Dell<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.dell.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/epson.png" alt="roketsan referans" class="tile-img" />
            <h3>Epson<br />Sakarya Bilişim Mağazaları</h3>
            <a href="https://www.epson.com.tr/" target=" _blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/genaralmobile.jpg"   alt="tai referans" class="tile-img" />
            <h3>General Mobile<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.generalmobile.com/ "target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/hp.jpg" alt="webmaster sitesi referans" class="tile-img" />
            <h3>Hp<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www8.hp.com/tr/tr/home.html" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/htclogo.jpg"  alt="limango referans" class="tile-img" />
            <h3>Htc<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.htc.com/tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/images.jpg"  alt="hızlıal referans" class="tile-img" />
            <h3>Philips<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.philips.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/lenova.jpg" alt="gezginler referans" class="tile-img" />
            <h3>Lenova<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.lenovo.com/tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/lg logo.jpg"  alt="ucuzu referans" class="tile-img" />
            <h3>Lg<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.lg.com/tr" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/msilogo.jpg"  alt="yemeksepeti referans" class="tile-img" />
            <h3>Msı<br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://tr.msi.com/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div class="tile">

            <img src="~/Content/img/referanslar/NOKIA.jpg" alt="uzmantv referans" class="tile-img" />
            <h3>Nokia <br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.microsoft.com/tr-tr/mobil/urunler/tum/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>

        <div class="tile">


            <img src="~/Content/img/referanslar/siemens.png" alt="uzmantv referans" class="tile-img" />
            <h3>Siemens <br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.siemens.com/answers/tr/tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>

        <div class="tile">


            <img src="~/Content/img/referanslar/sony.jpg"  alt="uzmantv referans" class="tile-img" />
            <h3>Sony <br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.sony.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>

        <div class="tile">


            <img src="~/Content/img/referanslar/toshiba.jpg"  alt="uzmantv referans" class="tile-img" />
            <h3>Toshiba <br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.toshiba.com.tr/" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>

        <div class="tile">


            <img src="~/Content/img/referanslar/vestellogo.jpg"  alt="uzmantv referans" class="tile-img" />
            <h3>Vestel <br />Sakarya Bilişim Mağazaları</h3>
            <a href="http://www.vestel.com.tr/?c=branding&adn_kw=vestel&gclid=CJ7egLKXqcUCFSYYwwodQLMANw" target="_blank">
                <div class="tile-button">
                    <span>Ziyaret Et</span>
                </div>
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>

    <script>
        $(function () {
            var $container = $('.references'),
                $tiles = $container.children('.tile'),
                zaman;
            $tiles.on('mouseenter', function (event) {
                var $tile = $(this);
                clearTimeout(zaman);
                zaman = setTimeout(function () {
                    if ($tile.hasClass('active')) return false;

                    $tiles.not($tile.removeClass('passive').addClass('active'))
                             .removeClass('active')
                             .addClass('passive');
                });
            });
            $container.on('mouseleave', function (event) {
                clearTimeout(zaman);
                $tiles.removeClass('active passive');
            });
        })
    </script>
</div>
